/SortSimples1042/target/
/Triangulo1043/nbproject/
/Triangulo1043/target/
/Multiplos1044/target/
/TiposTriangulo1045/nbproject/
/TiposTriangulo1045/target/
/TempoJogo1046/nbproject/
/TempoJogo1046/target/
/com.estudo_TempoJogo1046_jar_0/target/
/AumentoSalario1048/nbproject/
/AumentoSalario1048/target/
/Animal1049/nbproject/
/Animal1049/target/
