/SortSimples1042/target/
/Triangulo1043/nbproject/
/Triangulo1043/target/
/Multiplos1044/target/
/TiposTriangulo1045/nbproject/
/TiposTriangulo1045/target/
/TempoJogo1046/nbproject/
/TempoJogo1046/target/
/com.estudo_TempoJogo1046_jar_0/target/
/AumentoSalario1048/nbproject/
/AumentoSalario1048/target/
/Animal1049/nbproject/
/Animal1049/target/
/DDD1050/nbproject/
/DDD1050/target/
/ImpostoRenda1051/nbproject/
/ImpostoRenda1051/target/
/Mes1052/nbproject/
/Mes1052/target/
/NumerosPares1059/nbproject/
/NumerosPares1059/target/
/numerosPositivos1060/nbproject/
/numerosPositivos1060/target/
/BanknoteandCoins_1021/target/
/TesteSelecao1/target/
/Lanche1038/target/
/intervalo1037/target/
/Bhaskara1036/target/
/AreaCirculo/target/
/media1040/target/
/CoordenadasPonto1041/target/
/TempoDeUmEvento1061/nbproject/
/TempoDeUmEvento1061/target/
/PositivoseMedia1064/nbproject/
/PositivoseMedia1064/target/
/ParesCincoNumeros1065/nbproject/
/ParesCincoNumeros1065/target/
/ParesImparesPositivosNegativos1066/nbproject/
/ParesImparesPositivosNegativos1066/target/
/NumerosImpares1067/nbproject/
/NumerosImpares1067/target/
/SeisNumerosImpares1070/nbproject/
/SeisNumerosImpares1070/target/
/SomaImparesConsecutivos1071/nbproject/
/SomaImparesConsecutivos1071/target/
/Intervalo1072/nbproject/
/Intervalo1072/target/
/QuadradoPares1073/nbproject/
/QuadradoPares1073/target/
/ParImpar1074/nbproject/
/ParImpar1074/target/
/Resto2_1075/nbproject/
/Resto2_1075/target/
/Tabuada1078/nbproject/
/Tabuada1078/target/
/MediasPonderadas1079/nbproject/
/MediasPonderadas1079/target/
/com.estudo_MediasPonderadas1079_jar_0/target/
/MediasPonderadas1079-2/target/
/MediasPonderadas1079_2/nbproject/
/MediasPonderadas1079_2/target/
/MaiorePosicao1080/nbproject/
/MaiorePosicao1080/target/
/Experiencias1094/nbproject/
/Experiencias1094/target/
/SequenciaIJ1095/nbproject/
/SequenciaIJ1095/target/
/SomaImparesConsecutivos1099/nbproject/
/SequenciaNumeroSoma1101/nbproject/
/SequenciaNumeroSoma1101/target/
/CrescenteDecrescente1113/nbproject/
/CrescenteDecrescente1113/target/
/SenhaFixa1114/nbproject/
/SenhaFixa1114/target/
/Quadrante1115/nbproject/
/Quadrante1115/target/
/DividindoXY1116/target/
/ValidacaoNota1117/target/
/com.estudo_VariasNotaValidadoa1118_jar_0/target/
/com.estudo.VariasNotaValidacao1118/target/
/VariasNotaValidacao1118/target/
/Grenais1131/target/
/Multiplos131132/target/
/RestoDivisao1113/target/
/TipoCombustivel/target/
/Pum1142/target/
/QuadradoCubo1143/target/
/SequenciaLogica1144/target/
/SequenciaLogica21145/target/
/SequenciaCrescente1146/target/
/InteiroConsecutivos1149/target/
/UltrapassandoZ1150/target/
/FibonacciFacil1151/target/
/FatorialSimples1153/target/
/FibonacciFacil1151/nbproject/
/Idades_1154/target/
/SequenciaS_1155/target/
/SequenciaSII_1156/target/
/Divisores_1157/target/
/SomaImparesConsecutivos_1158/target/
/CrescimentoPopulacional_1160/target/
